body {
  visibility: hidden;
}
.is-sp {
  display: none;
}
.is-pc {
  display: none;
}
.c-container {
  padding-left: 0;
  padding-right: 0;
}
h2 {
  font-size: 1.8rem;
}
.l-globalNavi__wrap {
  top: 80px;
}
@media screen and (max-width: 768px) {
  .l-globalNavi__wrap {
    top: 50px;
  }
}
.l-header .l-header__logo img {
  height: 52px;
  width: auto;
}
.l-header .tell {
  height: 100%;
  width: 180px;
  background-color: #000;
}
.l-header .tell a {
  height: 100%;
  display: flex;
  justify-content: center;
}
.l-header .tell a img {
  height: 100%;
  width: 180px;
}
.l-header .inquiry-about-moving {
  height: 100%;
  background-color: #c1c1c1;
  position: relative;
  overflow: hidden;
}
.l-header .inquiry-about-moving img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 100px;
  width: auto;
}
.l-header .l-menuToggle-wrap {
  height: 100%;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.l-header .l-menuToggle-wrap .l-menuToggle {
  height: 30px;
  width: 30px;
  border-right: 0;
  background: url(../images/menu.svg) no-repeat;
  background-size: contain;
}
.l-header .l-globalNavi__category {
  border-bottom: 1px solid #444;
}
.l-header .l-globalNavi__category img {
  margin-right: 24px;
}
@media screen and (max-width: 768px) {
  .l-header {
    height: 50px;
  }
  .l-header .l-header__container {
    height: 50px;
    font-size: 1px;
  }
  .l-header .l-header__container .l-header__logo img {
    height: 20px;
    width: auto;
  }
  .l-header .l-header__container .tell {
    height: 100%;
    width: 80px;
    background-color: #000;
  }
  .l-header .l-header__container .tell a {
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .l-header .l-header__container .tell a img {
    height: 100%;
    width: 72px;
  }
  .l-header .l-header__container .inquiry-about-moving {
    height: 100%;
    background-color: #c1c1c1;
    position: relative;
  }
  .l-header .l-header__container .inquiry-about-moving img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 36px;
    width: auto;
  }
  .l-header .l-header__container .l-menuToggle-wrap {
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .l-header .l-header__container .l-menuToggle-wrap .l-menuToggle {
    height: 16px;
    width: 16px;
    border-right: 0;
    background: url(../images/menu.svg) no-repeat;
    background-size: contain;
  }
  .l-header .l-header__container .l-globalNavi__category {
    border-bottom: 1px solid #444;
  }
  .l-header .l-header__container .l-globalNavi__category img {
    margin-right: 24px;
  }
}
.top {
  background-color: #fff;
  font-size: 1rem;
}
.top h2 {
  margin-bottom: 14px;
  position: relative;
  font-size: 2.3rem;
}
.top .h2-text {
  margin-top: 24px;
  font-size: 1.6rem;
}
@media screen and (max-width: 768px) {
  .top h2 {
    font-size: 1.8rem;
  }
  .top .h2-text {
    font-size: 100%;
  }
}
.top .carousel-inner {
  background-color: #fff;
}
.top .carousel-inner .carousel-item {
  background-color: rgba(0, 0, 0, 0.3);
}
.top .carousel-item::after {
  content: '';
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.top .more-btn {
  position: relative;
  color: #fff;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 52px;
  padding-right: 52px;
  border-radius: 0;
  background-color: #bb8e24;
  border-style: none;
  font-size: 1.8rem;
  width: 340px;
}
.top .more-btn::before {
  content: '>';
  width: 1rem;
  height: 1rem;
  line-height: 15px;
  text-align: center;
  font-size: 1rem;
  color: inherit;
  position: absolute;
  top: 46%;
  right: 22px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.top .wrap-more-btn {
  padding-top: 38px;
  text-align: right;
  margin-right: 3%;
}
@media screen and (max-width: 768px) {
  .top {
    padding-top: 50px;
  }
  .top .carousel-item {
    height: auto;
  }
  .top .carousel-item .main-visual-img {
    width: 100%;
    height: 230px !important;
    object-fit: cover;
  }
  .top .wrap-more-btn {
    padding-top: 18px;
    text-align: left;
  }
  .top .more-btn {
    position: relative;
    color: #fff;
    width: 158px;
    border-radius: 0;
    background-color: #bb8e24;
    border-style: none;
    font-size: 100%;
    padding: 0.375rem 0.75rem;
  }
  .top .more-btn::before {
    content: '>';
    width: 1rem;
    height: 1rem;
    line-height: 15px;
    text-align: center;
    font-size: 1rem;
    color: inherit;
    position: absolute;
    top: 38%;
    right: 6px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
.top .l-body .p-mainImage__txt h1 {
  font-size: 2rem;
}
.top .l-body .carousel-indicators .active {
  background-color: #bb8e24;
}
.top .black-box {
  padding-left: 2%;
  padding-bottom: 2%;
}
.top .black-box .content {
  height: 120px;
  background-color: #000;
}
@media screen and (max-width: 768px) {
  .top .black-box .content {
    height: 60px;
  }
}
.top .company-philosophy {
  margin-bottom: 10px;
}
.top .company-philosophy h2::before {
  content: "";
  display: block;
  width: 92px;
  height: 3px;
  background-color: #c49525;
  position: absolute;
  bottom: -4px;
  left: 0;
}
@media screen and (max-width: 768px) {
  .top .company-philosophy h2::before {
    content: "";
    display: block;
    width: 76px;
    height: 3px;
    background-color: #c49525;
    position: absolute;
    bottom: -4px;
    left: 0;
  }
}
.top .company-philosophy .recurit-img {
  height: 268px;
  width: 500px;
  object-fit: cover;
  position: relative;
  z-index: 5;
  top: -90px;
  left: 8px;
}
@media screen and (max-width: 768px) {
  .top .company-philosophy .recurit-img {
    height: 17.3em;
    top: -4em;
    left: 0px;
  }
}
.top .is-pc {
  height: 310px;
}
.top .is-pc .wrap-link {
  position: absolute;
}
.top .is-pc .wrap-link .inquiry-btn {
  position: relative;
  top: -100px;
  left: -60px;
}
.top .is-pc .wrap-link .more-btn {
  margin-top: 32px;
}
.top .is-pc .recurit-img-2 {
  height: 310px !important;
}
.top .is-pc .more-btn {
  position: relative;
  color: #fff;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 52px;
  padding-right: 52px;
  border-radius: 0;
  background-color: #bb8e24;
  border-style: none;
  font-size: 1.8rem;
  width: 340px;
}
.top .is-pc .more-btn::before {
  content: '>';
  width: 1rem;
  height: 1rem;
  line-height: 15px;
  text-align: center;
  font-size: 1rem;
  color: inherit;
  position: absolute;
  top: 46%;
  right: 22px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.top .about-moving h2 {
  margin-bottom: 14px;
  position: relative;
  font-size: 2.3rem;
}
.top .about-moving h2::before {
  content: "";
  display: block;
  width: 160px;
  height: 3px;
  background-color: #c49525;
  position: absolute;
  bottom: -4px;
  left: 0;
}
@media screen and (max-width: 768px) {
  .top .about-moving h2 {
    font-size: 1.8rem;
  }
  .top .about-moving h2::before {
    content: "";
    display: block;
    width: 126px;
    height: 3px;
    background-color: #c49525;
    position: absolute;
    bottom: -4px;
    left: 0;
  }
}
.top .about-moving .inquiry-btn {
  position: relative;
  z-index: 5;
  width: 280px;
  height: 100px;
  top: 50px;
  color: #bb8e24;
  background-color: #fff;
  border-color: #bb8e24;
  position: relative;
  border-radius: 0;
}
.top .about-moving .inquiry-btn .inquiry-img {
  display: inline-block;
  height: 60px;
  position: relative;
  top: 50%;
  right: 18px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.top .about-moving .inquiry-btn .text {
  color: #070506;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
}
.top .about-moving .inquiry-btn::before {
  content: '>';
  width: 1rem;
  height: 1rem;
  line-height: 15px;
  text-align: center;
  font-size: 1rem;
  color: inherit;
  position: absolute;
  top: 47%;
  right: 18px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.top .recurit-info-area {
  margin-top: 42px;
}
.top .recurit-info-area h2 {
  margin-bottom: 14px;
  position: relative;
}
.top .recurit-info-area h2::before {
  content: "";
  display: block;
  width: 112px;
  height: 3px;
  background-color: #c49525;
  position: absolute;
  bottom: -4px;
  left: 0;
}
.top .recurit-info-area .recurit-img {
  width: 100%;
  height: auto;
}
.top .recurit-info-area .pc-more {
  margin-top: 74px;
  margin-bottom: 20px;
}
.top .recurit-info-area .pc-inquiry-btn {
  color: #bb8e24;
  border-radius: 0;
  background-color: #fff;
  border-style: none;
  border-style: solid;
  border-color: #bb8e24;
}
@media screen and (max-width: 768px) {
  .top .recurit-info-area h2::before {
    content: "";
    display: block;
    width: 90px;
    height: 3px;
    background-color: #c49525;
    position: absolute;
    bottom: -4px;
    left: 0;
  }
  .top .recurit-info-area .inquiry-btn {
    position: relative;
    color: #bb8e24;
    width: 100%;
    border-radius: 0;
    background-color: #fff;
    border-style: none;
    width: 158px;
    border-style: solid;
    border-color: #bb8e24;
  }
  .top .recurit-info-area .inquiry-btn::before {
    content: '>';
    width: 1rem;
    height: 1rem;
    line-height: 15px;
    text-align: center;
    font-size: 1rem;
    color: inherit;
    position: absolute;
    top: 38%;
    right: 3px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
.philosophy {
  padding-top: 80px;
}
.philosophy h1 {
  font-size: 4rem;
}
.philosophy .content .text {
  display: inline-block;
}
.philosophy .content .image {
  display: inline-block;
  position: relative;
  right: -82px;
  top: 5px;
  width: 40%;
  height: 120px;
  background: url(../images/design-01.svg) no-repeat;
  background-size: contain;
}
.philosophy .bg-img-1 {
  position: relative;
  height: 600px;
  background: url(../images/bg-1.svg) no-repeat;
  background-size: cover;
}
.philosophy .bg-img-1 .title {
  position: relative;
  z-index: 5;
  color: #fff;
  left: 30px;
  top: 260px;
  font-size: 3rem;
}
.philosophy .bg-img-1 .content {
  width: 80%;
  position: relative;
  z-index: 5;
  color: #000;
  left: 0px;
  top: 360px;
  font-size: 1em;
  padding-left: 30px;
  padding-top: 15px;
  background-color: #fff;
}
.philosophy .bg-img-1 .content .pb-60p {
  padding-bottom: 60px;
}
.philosophy .bg-img-1 .content .pb-30p {
  padding-bottom: 30px;
}
.philosophy .bg-img-1 .content .content-title {
  font-size: 3rem;
  font-weight: bold;
  padding-top: 60px;
  padding-bottom: 52px;
}
.philosophy .bg-img-1 .content .text {
  width: 50%;
}
.philosophy .bg-img-2 {
  position: relative;
  height: 600px;
  background: url(../images/bg-2.svg) no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .philosophy {
    padding-top: 50px;
  }
  .philosophy h1 {
    font-size: 1.8rem;
  }
  .philosophy .bg-img-1 {
    position: relative;
    height: 200px;
    background: url(../images/bg-1.svg) no-repeat;
    background-size: cover;
  }
  .philosophy .bg-img-1 .title {
    width: 120px;
    font-size: 100%;
    position: relative;
    z-index: 5;
    color: #fff;
    left: 30px;
    top: 80px;
  }
  .philosophy .bg-img-1 .content {
    width: 80%;
    position: relative;
    z-index: 5;
    color: #000;
    left: 0px;
    top: 100px;
    font-size: 10px !important;
    padding-left: 30px;
    padding-top: 15px;
    background-color: #fff;
  }
  .philosophy .bg-img-1 .content .pb-15p {
    padding-bottom: 15px;
  }
  .philosophy .bg-img-1 .content .image {
    display: inline-block;
    position: relative;
    right: 15px;
    top: 5px;
    width: 40%;
    height: 40px;
    background: url(../images/design-01.svg) no-repeat;
    background-size: contain;
  }
  .philosophy .bg-img-1 .content .content-title {
    font-size: 12px !important;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 0px;
  }
  .philosophy .bg-img-1 .content .text {
    width: 56%;
  }
  .philosophy .bg-img-2 {
    position: relative;
    height: 200px;
    background: url(../images/bg-2.svg) no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 768px) {
  .contact {
    padding-top: 30px;
  }
  .contact .bg-img-1 {
    position: relative;
    height: 200px;
    background: url(../images/contact.png) no-repeat;
    background-size: cover;
  }
  .contact .bg-img-1 .title {
    width: 220px;
    position: relative;
    z-index: 5;
    color: #fff;
    left: 30px;
    top: 80px;
  }
  .contact .bg-img-1::after {
    content: '';
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .contact .bg-img-2 {
    margin-top: 32px;
    position: relative;
    height: 120px;
    width: 100%;
    background: url(../images/contact-2.png) no-repeat;
    background-size: cover;
  }
  .contact .bg-img-2::before {
    content: '';
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .contact h2 {
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
  }
  .contact h3 {
    position: relative;
    padding-top: 32px;
    font-size: 12px;
    font-weight: bold;
  }
  .contact .lineat {
    width: 130px;
    height: auto;
    margin-bottom: 12px;
  }
  .contact .text {
    font-size: 10px;
  }
  .contact .annotation-2 {
    color: red;
    font-size: 8px;
    padding-top: 4px;
  }
  .contact .annotation {
    padding-top: 16px;
    color: red;
  }
  .contact .annotation-3 {
    padding-top: 32px;
    font-size: 8px;
  }
  .contact .form {
    padding-top: 16px;
    padding-bottom: 32px;
  }
  .contact .form p:nth-child(2n) {
    /* 表の偶数行のみを対象に装飾するCSS */
    background-color: white;
  }
  .contact .form label {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-left: 45px;
    padding-right: 15px;
  }
  .contact .form label br {
    display: none;
  }
  .contact .form label .your-name input, .contact .form label .your-email input, .contact .form label .tel-861 input, .contact .form label .your-message input, .contact .form label .your-furigana input, .contact .form label .text-zip input, .contact .form label .text-addr input, .contact .form label .type input, .contact .form label .your-name textarea, .contact .form label .your-email textarea, .contact .form label .tel-861 textarea, .contact .form label .your-message textarea, .contact .form label .your-furigana textarea, .contact .form label .text-zip textarea, .contact .form label .text-addr textarea, .contact .form label .type textarea, .contact .form label .your-name select, .contact .form label .your-email select, .contact .form label .tel-861 select, .contact .form label .your-message select, .contact .form label .your-furigana select, .contact .form label .text-zip select, .contact .form label .text-addr select, .contact .form label .type select {
    float: right;
    width: 200px;
  }
  .contact .form .wpcf7-form label:not(.message) {
    height: 40px;
    top: 12px;
  }
  .contact .form .wpcf7-form label:not(.message)::before {
    content: "";
    display: block;
    width: 18px;
    height: 8px;
    background-color: #c49525;
    position: absolute;
    top: 6px;
    left: 15px;
  }
  .contact .form .wpcf7-form .message {
    padding-top: 6px;
  }
  .contact .form .wpcf7-form .message::before {
    content: "";
    display: block;
    width: 18px;
    height: 8px;
    background-color: #c49525;
    position: absolute;
    top: 12px;
    left: 15px;
  }
  .contact .form .submit-btn {
    position: relative;
    padding-top: 32px;
    padding-right: 15px;
    text-align: right;
  }
  .contact .form .submit-btn .ajax-loader {
    display: none;
  }
  .contact .form .wpcf7-submit {
    width: 120px;
    height: 26px;
    background: #c49525;
    color: #fff;
    font-size: 10px;
  }
  .contact .form .submit-btn::before {
    content: '>';
    width: 1rem;
    height: 1rem;
    line-height: 15px;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    position: absolute;
    top: 72%;
    right: 27px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .contact .form .wpcf7-not-valid-tip {
    font-size: 8px;
  }
  .contact .line {
    width: 100%;
    height: 2px;
    background-color: #c49525;
  }
  .contact .line-2 {
    width: 32px;
    height: 4px;
    margin-top: 6px;
    margin-bottom: 12px;
    background-color: #c49525;
  }
}
.about-moving h1 {
  font-size: 1.8rem;
}
.about-moving .content .text {
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .about-moving {
    padding-top: 30px;
    padding-bottom: 0px;
  }
  .about-moving h2 {
    font-size: 14px;
  }
  .about-moving .bg-img {
    position: relative;
    height: 200px;
    background: url(../images/about-moving-mv.png) no-repeat;
    background-size: cover;
  }
  .about-moving .bg-img .title {
    width: 220px;
    position: relative;
    z-index: 5;
    color: #fff;
    left: 30px;
    top: 80px;
  }
  .about-moving .bg-img .description {
    position: absolute;
    bottom: 0px;
    padding-left: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    color: #fff;
    z-index: 5;
    background-color: rgba(0, 0, 0, .5);
  }
  .about-moving .bg-img::after {
    content: '';
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .about-moving .area-1 {
    padding-top: 28px;
    background-color: #fff;
  }
  .about-moving .area-1 h2::before {
    content: "";
    display: block;
    width: 32px;
    height: 3px;
    background-color: #c49525;
    position: absolute;
    bottom: -8px;
  }
  .about-moving .area-1 .text {
    margin-top: 20px;
    padding-bottom: 40px;
  }
  .about-moving .item {
    position: relative;
    z-index: 5;
    width: 100%;
    background: linear-gradient(180deg, #fff 0%, #fff 30%, #000 30%, #000 100%);
  }
  .about-moving .item img {
    padding-bottom: 28px;
  }
  .about-moving .area-2 {
    padding-top: 28px;
    background-color: #fff;
  }
  .about-moving .area-2 .text {
    position: relative;
    z-index: 2;
    margin-top: 20px;
    padding-bottom: 40px;
  }
  .about-moving .area-2 .hoge {
    position: absolute;
    height: 280px;
    right: 0px;
  }
  .about-moving .area-2 .hoge .item-2 {
    position: relative;
    height: 260px;
    width: auto;
    right: 0;
    z-index: 1;
    top: -60px;
  }
  .about-moving .area-3 {
    background-color: #000;
    color: #fff;
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .about-moving .area-3 .row {
    position: relative;
  }
  .about-moving .area-3 .description {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .about-moving .area-3 .description .center {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .about-moving .area-3 .description .text {
    display: flex;
    position: relative;
  }
  .about-moving .area-3 .description .text .ten, .about-moving .area-3 .description .text .ten-center {
    min-width: 28px;
  }
  .about-moving .area-3 .description .text .ten::before {
    content: "";
    display: block;
    width: 18px;
    height: 4px;
    background-color: #c49525;
    position: absolute;
    top: 6px;
  }
  .about-moving .area-3 .description .text .ten-center::before {
    content: "";
    display: block;
    width: 18px;
    height: 4px;
    background-color: #c49525;
    position: absolute;
    top: 12px;
  }
  .about-moving .area-3 .contact {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .about-moving .area-3 .contact .tel {
    position: relative;
    font-size: 12px;
    margin-bottom: 32px;
    height: 26px;
  }
  .about-moving .area-3 .contact .tel .icon {
    display: inline-block;
    height: 16px;
    padding-left: 12px;
  }
  .about-moving .area-3 .contact .inquiry {
    position: relative;
    font-size: 8px;
    margin-bottom: 32px;
    height: 26px;
  }
  .about-moving .area-3 .contact .inquiry .icon {
    display: inline-block;
    height: 16px;
    padding-left: 12px;
  }
  .about-moving .area-3 .contact .tel::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #c49525;
    position: absolute;
    bottom: 0;
  }
  .about-moving .area-3 .contact .tel::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: #c49525;
    position: absolute;
    left: 0;
  }
  .about-moving .area-3 .contact .inquiry::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #c49525;
    position: absolute;
    bottom: 0;
  }
  .about-moving .area-3 .contact .inquiry::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: #c49525;
    position: absolute;
    left: 0;
  }
  .about-moving .area-3 .contact img {
    margin-bottom: 32px;
    height: 26px;
  }
  .about-moving .area-3 .item-3-wrap {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    width: 46%;
  }
  .about-moving .area-3 .item-3-wrap img {
    height: 360px;
    object-fit: cover;
  }
  .about-moving .area-4 {
    background-color: #fff;
    margin-top: 32px;
  }
  .about-moving .area-4 .pr {
    padding-right: 7.5px;
  }
  .about-moving .area-4 .pl {
    padding-left: 7.5px;
  }
  .about-moving .area-4 .image-wraper {
    position: relative;
  }
  .about-moving .area-4 .image-wraper .inquiry-moving {
    font-size: 10px;
    line-height: 23px;
    position: absolute;
    width: 100%;
    height: 23px;
    background-color: #c49525;
    text-align: center;
    color: #fff;
    bottom: -2px;
  }
  .about-moving .area-4 .image-wraper .inquiry-moving::before {
    content: '>';
    width: 1rem;
    height: 1rem;
    line-height: 15px;
    text-align: center;
    font-size: 1rem;
    color: inherit;
    position: absolute;
    top: 38%;
    right: 6px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .about-moving .area-4 h2 {
    margin-top: 20px;
    height: 32px;
  }
  .about-moving .area-4 .line {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 42px;
    height: 4px;
    background-color: #c49525;
  }
  .about-moving .area-4 .contact-wrap {
    height: 60px;
  }
  .about-moving .area-4 .contact-wrap .content {
    font-weight: bold;
  }
  .about-moving .area-4 .details-title {
    margin-top: 10px;
  }
  .about-moving .area-4 .details {
    margin-bottom: 52px;
  }
}
.company h1 {
  font-size: 1.8rem;
}
.company .content .text {
  display: inline-block;
}
.company .content .image {
  display: inline-block;
  position: relative;
  right: 15px;
  top: 5px;
  width: 40%;
  height: 40px;
  background: url(../images/design-01.svg) no-repeat;
  background-size: contain;
}
@media screen and (max-width: 768px) {
  .company {
    padding-top: 30px;
  }
  .company .bg-img {
    position: relative;
    height: 200px;
    background: url(../images/bg-3.svg) no-repeat;
    background-size: cover;
  }
  .company .bg-img .title {
    width: 220px;
    position: relative;
    z-index: 5;
    color: #fff;
    left: 30px;
    top: 80px;
  }
  .company .table {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .company .table th {
    vertical-align: middle;
  }
  .company .bg-img2 {
    position: relative;
    height: 200px;
    background: url(../images/bg-4.svg) no-repeat;
    background-size: cover;
  }
}
.recruit {
  background-color: #fff;
  padding-bottom: 0px;
}
.recruit h1 {
  font-size: 1.8rem;
}
.recruit .content {
  margin-bottom: 68px;
}
.recruit .content .content-title {
  width: 90%;
  margin-bottom: 23px;
}
.recruit .content .content-title::after {
  content: "";
  display: block;
  width: 32px;
  height: 3px;
  background-color: #c49525;
  position: absolute;
  margin-top: 10px;
}
.recruit .content .img-area {
  position: relative;
  background-color: #000;
  height: 100%;
  width: auto;
  margin-left: 20px;
}
.recruit .content .img-area img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
}
.recruit .content .img-area-2 {
  background-color: #000;
  height: 100%;
  width: auto;
  margin-right: 20px;
}
.recruit .content .img-area-2 img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
}
.recruit .last-content {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
@media screen and (max-width: 768px) {
  .recruit .bg-img {
    position: relative;
    height: 200px;
    background: url(../images/bg-5.svg) no-repeat;
    background-size: cover;
  }
  .recruit .bg-img .title {
    width: 220px;
    position: relative;
    z-index: 5;
    color: #fff;
    left: 30px;
    top: 80px;
  }
}
.l-footer a {
  color: #c1c1c1;
  font-size: 1rem;
}
.l-footer .sns-area {
  background-color: #000;
}
.l-footer .company-info-area .icon {
  height: 28px;
  width: 28px;
  object-fit: contain;
}
.l-footer .company-info-area .company-info-text {
  margin-top: 4px;
}
.l-footer .l-footer__container {
  padding-bottom: 20px;
}
.l-footer .l-footer__container .sns-wrap {
  position: relative;
  height: 19px;
}
.l-footer .l-footer__container .sns-wrap::before {
  content: "";
  display: block;
  width: 74px;
  height: 1px;
  background-color: #c49525;
  position: absolute;
  bottom: 0;
  right: 30px;
}
.l-footer .l-footer__container .sns-wrap::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 14px;
  background-color: #c49525;
  position: absolute;
  top: 4px;
  right: 30px;
}
.l-footer .l-footer__container .icon {
  color: #fff;
  font-size: 8px;
}
.l-footer .l-footer__container img {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 1px;
  height: 10px;
}
.l-footer .l-footer__container .sns-text {
  margin-left: 8px;
  display: inline-block;
  color: #c1c1c1;
}
.l-footer .l-footer__copyright {
  padding-top: 10px;
}
.is-hover:hover {
  opacity: 0.5;
}
