.swiper-container {
  width: 100%;
  height: 230px !important;
}

@media screen and (max-width: 768px) {
  .l-globalNavi__wrap {
    top: 30px;
  }
  .l-header {
    height: 30px;
    .l-header__container {
      height: 30px;
      font-size: 1px;
      .l-header__logo {
        img {
          height: 26px;
          width: auto;
        }
      }
      .tell {
        height: 100%;
        background-color: #070506;
        a {
          height: 100%;
          display: flex;
          justify-content: center;
          img {
            height: auto;
            width: 60px;
          }
        }
      }
      .inquiry-about-moving {
        img {
          height: 30px;
          width: auto;
        }
      }
      .l-menuToggle-wrap {
        height: 100%;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        .l-menuToggle {
          height: 16px;
          width: 16px;
          border-right: 0;
          background: url(../images/menu.svg) no-repeat;
          background-size: contain;
        }
      }
    }
  }

  .l-body {
    padding-top: 30px;
  }
}

.is-hover:hover {
  opacity: 0.5 ;
}

.current-category {
  text-decoration: none;
  pointer-events: none;
  opacity: 0.5 ;
}

.top {
  .p-mainImage__txt {
    visibility: hidden;
  }

  padding-bottom: 0;

  .swiper-container {
    width: 100%;
    height: calc(100vh - 80px - 8rem - 65px);
  }

  .p-mainImage {
    position: relative;
    text-align: center;
    margin-bottom: 0;
  }

  .c-title02 {
    font-size: 3.6rem;
    margin-bottom: 0px;
  }

  .c-title03 {
    font-size: 2.8rem;
    padding-bottom: 1rem;
  }

  .c-title04 {
    font-weight: bold;
  }

  .pt-8rem {
    padding-top: 8rem;
  }

  .pb-6rem {
    padding-bottom: 6rem;
  }

  .blog {
    .blog-card-img {
      height: 220px;
      width: 100%;
      object-fit: cover;
    }

    .category {
      border: 2px solid #D8D8D8;
      border-radius: 18px;
      padding-left: 8px;
      padding-right: 8px;
      margin-bottom: 3px;
      font-size: 70% !important;
      display: inline-block;
      color: #000;
    }

    .title {
      font-size: 2rem;
      font-weight: bold;
      padding-top: 12px;
      padding-bottom: 12px;

      a {
        color: #000;
      }
    }

    .blod-text, .blod-date {
      font-size: 80% !important;
    }
  }

  .card-hidden {
    visibility: hidden;
  }

  .sbi_load_btn {
    line-height: 48px !important;
    font-size: 80% !important;
  }

  .sbi_follow_btn {
    height: 62px;
    line-height: 62px;

    .svg-inline--fa {
      display: none !important;
    }

    a {
      display: inline-block !important;
      vertical-align: middle !important;
      font-weight: bold;
      font-size: 100% !important;
    }

    a:hover{
      text-decoration: underline !important;
    }

    a::before {
      content: '';
      display: inline-block;
      width: 50px;
      height: 42px;
      background: url(../images/icons-Instagram.svg) no-repeat !important;
      background-size: contain;
      vertical-align: middle;
    }
  }

  .wrap-recommend {
    margin: 0;

    .recommend-item {
      display: table-cell;
      font-weight: bold;
      padding-left: 20px;
      width: 326px;
    }

    .recommend-description {
      display: table-cell;
      padding-right: 20px;
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }

  .sp-recommend-item {
    padding: 12px;

    .recommend-title {
      font-weight: bold;
      margin-bottom: 6px;
    }
  }

  @media screen and (max-width: 768px) {
    .c-title02 {
      font-size: 1.8rem !important;
    }

    .c-title03 {
      font-size: 1.6rem !important;
    }

    .blog-card-deck {
      flex-direction: row;
      justify-content: space-between;

      .blog {
        width: 100%;
        border-color: #E3E3E3;

        .blog-card-img {
          height: 60px;
        }

        .sp-card-body {
          background-color: #E3E3E3;
          padding-left: 0;
          padding-right: 0;
          padding-top: 6px;
          padding-bottom: 0;
        }

        .sp-card-footer {
          padding-top: 4px;
          padding-left: 0;
          padding-right: 0;
          border: none;
          background-color: #E3E3E3;
        }

        .title {
          font-size: 1rem;
          font-weight: normal;
          padding-top: 0;
          padding-bottom: 0;
        }
      }

      .sp-blog-center-item {
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    .sp-blog-more-btn {
      margin-bottom: 0;
    }

    #sb_instagram.sbi_col_3.sbi_disable_mobile #sbi_images .sbi_item {
      width: 50%;
    }

    .sbi_load_btn {
      line-height: 32px !important;
    }

    .sbi_follow_btn {
      height: 48px;
      line-height: 48px;

      a::before {
        content: '';
        display: inline-block;
        width: 42px;
        height: 26px;
        background: url(../images/icons-Instagram-sp.svg) no-repeat !important;
        background-size: contain;
        vertical-align: middle;
      }
    }
  }
}

.l-header__btns {
  .l-header__btns__registration {
    width: 120px;
  }

  .last {
    margin-right: 28px;
  }

  .l-header__btns__registration.disabled {
    color: #878787;
    pointer-events: none;
  }
}

.l-globalNavi__wrap {
  .l-globalNavi__links {
    margin-top: 0;
    li {
      position: relative;

      .icon-next {
        position: absolute;
        right: 1em;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
      }
    }
  }
}

.l-globalNavi__category__aboutus {
  height: 60px;
  line-height: 60px;
  padding: 0 20px 0 50px;
  border-bottom: 1px solid #444444;
  background: url(../images/icons-Info.svg) 20px center no-repeat;
  background-size: 20px;

  a {
    display: inline-block;
    color: #fff;
    padding: 0;
    margin: -50px;
    padding-left: 50px;
    width: 400px;
  }
}

.l-globalNavi__category__news {
  height: 60px;
  line-height: 60px;
  padding: 0 20px 0 50px;
  border-bottom: 1px solid #444444;
  background: url(../images/icons-News.svg) 20px center no-repeat;
  background-size: 20px;

  a {
    display: inline-block;
    color: #fff;
    padding: 0;
    margin: -50px;
    padding-left: 50px;
    width: 400px;
  }
}

.l-globalNavi__category__blog {
  height: 60px;
  line-height: 60px;
  padding: 0 20px 0 50px;
  border-bottom: 1px solid #444444;
  background: url(../images/icons-Blog.svg) 20px center no-repeat;
  background-size: 20px;

  a {
    display: inline-block;
    color: #fff;
    padding: 0;
    margin: -50px;
    padding-left: 50px;
    width: 400px;
  }
}

.l-globalNavi__category__profile {
  height: 60px;
  line-height: 60px;
  padding: 0 20px 0 50px;
  border-bottom: 1px solid #444444;
  background: url(../images/icons-Profile.svg) 20px center no-repeat;
  background-size: 20px;

  a {
    display: inline-block;
    color: #fff;
    padding: 0;
    margin: -50px;
    padding-left: 50px;
    width: 400px;
  }
}

.l-globalNavi__category__contact {
  height: 60px;
  line-height: 60px;
  padding: 0 20px 0 50px;
  border-bottom: 1px solid #444444;
  background: url(../images/icons-Contact.svg) 20px center no-repeat;
  background-size: 20px;

  a {
    display: inline-block;
    color: #fff;
    padding: 0;
    margin: -50px;
    padding-left: 50px;
    width: 400px;
  }
}

.fluid-table {
  width: 100%;
  table-layout: fixed;

  th {
    padding-top: 14px;
    padding-bottom: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
    vertical-align: middle;

    a {
      font-size: 18px;
      color: #27B291;
    }
  }
}

.sp-notice {
  .fluid-table {
    th {
      padding-top: 14px;
      padding-bottom: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      vertical-align: middle;
    }
  }
}

.notice {
  background-color: #FFF;

  .title {
    font-weight: bold;
    font-size: 18px;
    height: 34px;
    padding-left: 56px;
    background: url(../images/notice-icon.png) 24px center no-repeat;
    background-size: 24px;
    display: inline-block;
  }

  .sp-title {
    font-weight: bold;
    font-size: 14px;
    height: 22px;
    padding-left: 32px;
    background: url(../images/notice-icon.png) 14px center no-repeat;
    background-size: 14px;
    display: inline-block;
  }

  .more {
    text-align: right;
    height: 37px;
    width: 100%;
    display: inline-block;
    padding-right: 30px;
    position: relative;

    a {
      position: relative;
      top: -3px;
      display: inline-block;
      height: 100%;
      font-size: 10px;
      color: #27B291;
    }
  }

  .more::before{
    content: '';
    width: 6px;
    height: 6px;
    border: 0px;
    border-top: solid 1px #000;
    border-right: solid 1px #000;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    left: 16px;
    margin-top: -3px;
  }

  .sp-content {
    width: 100%;
    vertical-align: middle;
    display: inline-block;
    position: relative;

    a {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      width: 90%;
      font-size: 14px;
      vertical-align: middle;
      color: #27B291;
    }
  }

  .sp-content::after {
    content: '';
    width: 6px;
    height: 6px;
    border: 0px;
    border-top: solid 1px #000;
    border-right: solid 1px #000;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 18px;
    margin-top: -3px;
  }
}

.sp-notice {
  display: none;
}

.pc-notice {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: none;
}

.aboutus-btn, .blog-more-btn {
  background-color: #27B291;
  border: none;
  width: 30rem;
  font-size: 1.8em;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  margin-top: 2em;
  margin-bottom: 2em;
}

.sp-aboutus-btn, .sp-blog-more-btn {
  background-color: #27B291;
  border: none;
  font-size: 1.8em;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  margin-top: 1em;
  margin-bottom: 3em;
}

.technology-area, .products-area {
  padding-top: 3em;
  padding-bottom: 3em;
}

.l-l {
  border: none;
  position: relative;

  .card-body {
    font-weight: bold;
    padding-top: 0;
  }

  .card-body::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -0.1rem;
    width: 0.4rem;
    height: 60%;
    background-color: #27B291;
  }
}

.bg-g {
  background-color: #E3E3E3;
}

.recommendation-title {
  margin-top: 5em !important;
  padding-bottom: 3rem !important;
  font-size: 2.8rem !important;
}

.catchphrase-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .catchphrase__image {
    width: 100%;
    img {
      -o-object-fit: cover;
      object-fit: cover;
      font-family: cover;
      width: 100%;
      height: auto;
    }
  }

  .catchphrase__title {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    margin: 30px 0;
  }

  .catchphrase__logos {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    margin: 0 30px;
    max-width: 600px;
    figure {
      margin: 0;
      img {
        height: 24px;
        width: 100%;
        vertical-align: middle;
      }

      figcaption {
        margin: 1rem 0;
        font-size: 1rem;
        color: #656565;
        text-align: center;
      }
    }
  }
}

.aboutus {
  .wrap-photo{
    width: 100%;
    padding-top: 3em;
    padding-bottom: 3em;

    .photo {
      width: 100%;
      height: auto;
    }
  }
}

.profile,.specific-trade-law,.thanks,.error-404 {
  .c-title01 {
    line-height: 1.8;
  }

  p {
    margin-bottom: 60px;
  }

  @media screen and (max-width: 768px) {
    .c-title01 {
      line-height: 1.8;
    }

    p {
      margin-bottom: 30px;
    }
  }

  .l-container01 {
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.error-404 {
  width: 100%;
  text-align: center;

  @media screen and (max-width: 768px) {
    .c-sub__contents {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.c-blog__detail__title {
  font-size: 4rem;
  font-weight: bold;
  padding-bottom: 50px;
  margin-bottom: 60px;
  border-bottom: 1px solid #979797;
}

@media screen and (max-width: 768px) {
  .c-blog__detail__title {
    font-size: 2.2rem;
    font-weight: bold;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
}

.single-blog {
  .c-news__detail__list {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .c-news__detail__list {
    margin-bottom: 0;

    .category {
      margin-bottom: 0;
    }
  }

  .c-blog__detail__title {
    margin-top: 30px;
  }

  .content-wrap {
    text-align: right;
  }

  .c-title01 {
    line-height: 3rem;

    .title-ja {
      font-size: 50%;
    }
  }

  .blog-wrap {
    vertical-align: top;
    display: inline-block;
    width: 70%;
    text-align: left;
    padding-right: 40px;
  }

  .sidebar {
    text-align: left;
    margin-left: auto;
    margin-right: 0px;
    display: inline-block;
    width: 28%;

    .new-post {
      font-weight: bold;
      border-bottom: solid 1px #000;
      padding-bottom: 10px;
      margin-bottom: 18px;
    }

    .links {
      padding-left: 18px;
      padding-top: 16px;
      padding-bottom: 16px;
      border-top: solid 1px #979797;
      border-bottom: solid 1px #979797;
      width: 100%;
      font-size: 80%;
      line-height: 44px;
    }

    .title {
      font-size: 2rem;
      font-weight: bold;
      padding-top: 12px;
      padding-bottom: 12px;
    }

    .blod-text, .blod-date {
      font-size: 80% !important;
    }

    .category-list {
      margin-top: 54px;
      font-weight: bold;
    }

    a {
      color: #000;
    }
  }

  .c-news__label {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 4px !important;
  }

  .c-news__date {
    width: 160px;
  }

  .c-news__detail__list li + li {
    margin-left: 2px;
  }

  .category {
    border: 2px solid #D8D8D8;
    border-radius: 18px;
    margin-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 70% !important;
    background-color: #F1F1F1 !important;

    a {
      color: #000;
    }
  }

  .side-category {
    border: 2px solid #D8D8D8;
    border-radius: 18px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 3px;
    font-size: 70% !important;
    display: inline-block;
  }

  .c-pager {
    margin-top: 8rem;
  }

  @media screen and (max-width: 768px) {
    .c-title01 {
      line-height: 1.8;
    }

    .c-news__label {
      width: auto;
      height: auto;
      line-height: 26px;
      margin-bottom: 10px;
      word-wrap: break-word;
      line-height: 1.6;
    }

    .c-news__date {
      width: 120px;
      margin: 5px 0 0 0;
    }

    .blog-wrap {
      vertical-align: top;
      display: block;
      width: 100%;
      text-align: left;
      padding-right: 0;
    }

    .new-post {
      border-bottom: solid 1px #979797;
      padding-bottom: 10px;
      margin-top: 18px;
      font-weight: bold;
      font-size: 1.8rem;
    }

    .sp-blog-wrap {
      padding-top: 18px;
      padding-bottom: 18px;
      border-bottom: dashed 1px #979797;
      .blog-img {
        height: 60px;
        width: 100%;
        object-fit: cover;
      }

      .title {
        font-weight: bold;
        font-size: 1.1rem;
        margin-bottom: 1rem;
      }

      .blog-text {
        top: 24px;
        left: 102px;
      }

      .blod-date, .side-category {
        font-size: 0.6rem !important;
        display: inline-block;
      }
    }

    .c-blog__detail__title {
      margin-top: 6px;
    }

    .category-list {
      border-bottom: solid 1px #979797;
      padding-bottom: 8px;
      margin-top: 32px;
      font-weight: bold;
      font-size: 1.8rem;
    }

    .links {
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 18px;
      border-bottom: solid 1px #979797;
      line-height: 38px;
      font-weight: bold;

      li {
        font-size: 110%;
      }
    }

    .content-wrap {
      text-align: left;

      a {
        color: #000;
      }
    }

    .c-pager {
      margin-top: 5rem;
    }
  }
}

.blog-index {
  .card-hidden {
    visibility: hidden;
  }

  .c-title01 {
    line-height: 3rem;

    .title-ja {
      font-size: 50%;
    }
  }

  .cp_breadcrumb *, .cp_breadcrumb *:after, .cp_breadcrumb *:before {
  	-webkit-box-sizing: border-box;
  	        box-sizing: border-box;
  }
  .cp_breadcrumb {
  	margin: 1em auto;
  }
  .cp_breadcrumb .breadcrumbs {
  	padding-left: 0;
  	margin-top: 0;
  	margin-bottom: 0;
  	list-style: none;
  	display: flex;
  	flex-wrap: wrap;
  }
  .cp_breadcrumb li {
  	display: inline-block;
  	position: relative;
  	padding-right: calc(16px + 8px);
  	margin-right: 14px;
    font-size: 16px;
  }
  .cp_breadcrumb li::before {
  	content: '>';
  	width: 1em;
  	height: 1em;
  	line-height: 1;
  	text-align: center;
  	font-size: 0.6em;
  	color: inherit;
  	position: absolute;
  	top: 50%;
  	right: 0;
  	-webkit-transform: translateY(-50%);
  	        transform: translateY(-50%);
  }
  .cp_breadcrumb li:last-child {
  	margin-right: 0;
  	padding-right: 0;

    a {
      text-decoration: none;
      pointer-events: none;
    	color: #000 !important;
    }
  }
  .cp_breadcrumb li:last-child::before {
  	content: normal;
  }
  .category {
    border: 2px solid #D8D8D8;
    border-radius: 18px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 3px;
    font-size: 70% !important;
    display: inline-block;
    color: #000;
  }

  .title {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;

    a {
      color: #000;
    }
  }

  .blod-text, .blod-date {
    font-size: 80% !important;
  }

  .wp-pagenavi {
    padding-top: 48px;
    text-align: center;
    height: 48px;

    .previouspostslink, .nextpostslink {
      margin-left: 12px;
      margin-right: 12px;
      height: 48px;
      width: 48px;
      text-decoration: none;
      color: #27B291;
      display: inline-block;
    }

    .disabled {
      pointer-events: none;
      cursor: default;
      text-decoration: none;
      color: #707070;
    }

    .page, .current {
      display: inline-block;
      width: 48px;
      height: 48px;
      line-height: 48px;
      margin-right: 12px;
      margin-left: 12px;
      background: #707070;
      border-radius: 24px;
      font-size: 2.0rem;
      text-align:center;
      color: #FFF;
      vertical-align: middle;
    }

    .page {
      background-color: #27B291;
    }

    .ico_arrow {
      display: inline-block;
      vertical-align: middle;
      height: 20px;
    }
  }

  .blog-wrap {
    display: flex;

    .blog-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 70%;
    }

    .blog-categories {
      display: flex;
      width: 30%;
      flex-wrap: wrap;
      justify-content: space-around;
      align-self: self-start;
      padding-left: 60px;

      .title {
        width: 100%;
        padding-bottom: 24px;
      }

      .links {
        padding-left: 18px;
        padding-top: 16px;
        padding-bottom: 16px;
        border-top: solid 1px #979797;
        border-bottom: solid 1px #979797;
        width: 100%;
        font-size: 80%;
        line-height: 44px;

        a {
          color: #000;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .c-title01 {
      line-height: 1.8;
    }

    .title {
      font-size: 1.4rem !important;
    }

    .blod-text, .blod-date {
      font-size: 100% !important;
    }

    .page, .current {
      width: 30px !important;
      height: 30px !important;
      line-height: 30px !important;
      font-size: 1.4rem !important;
    }

    .previouspostslink, .nextpostslink {
      width: 30px !important;
      height: 30px !important;
    }

    .ico_arrow {
      height: 16px !important;
    }

    .sp-category {
      margin-top: 80px;
      font-size: 1.8rem;
      font-weight: bold;
      padding-bottom: 6px;
    }

    .links {
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 18px;
      border-top: solid 1px #979797;
      border-bottom: solid 1px #979797;
      line-height: 38px;
      font-weight: bold;

      li {
        font-size: 110%;
      }

      a {
        color: #000;
      }
    }
  }
}
.news-index {
  .c-title01 {
    line-height: 1.8;
  }

  .c-news__date {
    width: 160px;
  }

  .c-news__label {
    padding-left: 20px;
    padding-right: 20px;
    width: 180px;
  }

  .wp-pagenavi {
    text-align: center;
    height: 48px;

    .previouspostslink, .nextpostslink {
      margin-left: 12px;
      margin-right: 12px;
      height: 48px;
      width: 48px;
      text-decoration: none;
      color: #27B291;
      display: inline-block;
    }

    .disabled {
      pointer-events: none;
      cursor: default;
      text-decoration: none;
      color: #707070;
    }

    .page, .current {
      display: inline-block;
      width: 48px;
      height: 48px;
      line-height: 48px;
      margin-right: 12px;
      margin-left: 12px;
      background: #707070;
      border-radius: 24px;
      font-size: 2.0rem;
      text-align:center;
      color: #FFF;
      vertical-align: middle;
    }

    .page {
      background-color: #27B291;
    }

    .ico_arrow {
      display: inline-block;
      vertical-align: middle;
      height: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    .c-title01 {
      line-height: 1.8;
    }

    .c-news__date {
      width: 120px;
    }

    .c-news__label {
      width: 140px !important;
      height: auto !important;
      line-height: normal !important;
      margin-bottom: 10px !important;
      line-height: 26px !important;
    }

    .page, .current {
      width: 30px !important;
      height: 30px !important;
      line-height: 30px !important;
      font-size: 1.4rem !important;
    }

    .previouspostslink, .nextpostslink {
      width: 30px !important;
      height: 30px !important;
    }

    .ico_arrow {
      height: 16px !important;
    }
  }
}

.privacy-policy {

  .c-title01 {
    line-height: 1.8;
  }

  h2 {
    line-height: 1.8;
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: 20px;
    margin-top: 60px;
  }

  ul {
    margin-left: 1em;
    text-indent: -1em;
  }

  @media screen and (max-width: 768px) {
    .c-title01 {
      font-size: 1.6rem;
      margin-bottom: 30px;
    }

    h2 {
      font-size: 1.4rem;
      margin-bottom: 20px;
    }
  }
}

.news {
  .c-title01 {
    line-height: 1.8;
  }

  .c-news__detail__title {
    line-height: 1.8;
  }

  .c-news__date {
    width: 160px;
  }

  .c-news__label {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .c-pager__return {
    a:hover {
      color: #27B291;
    }
  }

  @media screen and (max-width: 768px) {
    .c-title01 {
      font-size: 1.6rem;
      margin-bottom: 30px;
    }

    .c-news__detail__title {
      font-size: 1.6rem;
      font-weight: bold;
      padding-bottom: 20px;
      margin-bottom: 30px;
    }

    .c-news__date {
      width: 120px;
      margin: 5px 0 0 0;
    }

    .c-news__label {
      width: 120px;
      height: auto;
      line-height: 26px;
      margin-bottom: 10px;
    }
  }
}

.contact.l-body {
  padding-bottom: 30px;

  @media screen and (max-width: 768px) {
    padding-bottom: 1px !important;
  }
}

.contact {
  .c-title01 {
    line-height: 1.8;
  }

  .p-contact__form {
    label {
      width: 100%;
      .input-wrap {
        display: inline-block;
        width: 100%;
        margin-bottom: 40px;
        input {
          width: 100%;
        }
      }
    }

    .wrap-acceptance {
      .g-recaptcha {
        margin-top: 40px;
        margin-bottom: 140px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .wpcf7-form-control-wrap {
        width: 100%;
        display: inline-block;
        .wpcf7-form-control {
          width: 100%;
          display: inline-block;

          .wpcf7-list-item {
            width: 100%;
            display: inline-block;
            text-align: center;
            margin: 0;
            font-size: 20px;
            margin-bottom: 30px;
          }
        }
      }

      .wrap-submit {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .wpcf7-submit {
          color: #FFF;
          background-color: #27b291;
          border: none;
          width: 240px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          margin-left: 16px;
          border-radius: 30px;
          font-size: 20px;
        }

        .wpcf7-submit[disabled]{
          background-color: #959595;
        }
      }
    }

    .screen-reader-response {
      display: none;
    }

    .wpcf7-not-valid {
      border: solid 1px #FF0000;
    }

    .red {
      color: #FF0000;
      padding-left: 15px;
    }

    .wpcf7-not-valid-tip {
      display: none;
    }
  }

  .p-contact__check {
    position: relative;
    top: -120px;
  }

  .wpcf7-response-output {
    display: none !important;
  }

  @media screen and (max-width: 768px) {
    .c-title01 {
      line-height: 1.8;
    }

    .g-recaptcha {
      margin-top: 10px !important;
      margin-bottom: 100px !important;
    }

    .wpcf7-submit {
      width: 70% !important;
      height: 50px !important;
      line-height: 50px !important;
      font-size: 2.0rem !important;
    }

    .p-contact__check {
      top: -100px !important;
    }
  }
}

footer {
  a:hover {
    color: #27B291;
  }
}
