@media screen and (max-width: 768px) {
  .l-globalNavi__wrap {
    top: 30px;
  }
  .l-header {
    height: 30px;
  }
  .l-header .l-header__container {
    height: 30px;
    font-size: 1px;
  }
  .l-header .l-header__container .l-header__logo img {
    height: 26px;
    width: auto;
  }
  .l-header .l-header__container .tell {
    height: 100%;
    background-color: #070506;
  }
  .l-header .l-header__container .tell a {
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .l-header .l-header__container .tell a img {
    height: auto;
    width: 60px;
  }
  .l-header .l-header__container .inquiry-about-moving img {
    height: 30px;
    width: auto;
  }
  .l-header .l-header__container .l-menuToggle-wrap {
    height: 100%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .l-header .l-header__container .l-menuToggle-wrap .l-menuToggle {
    height: 16px;
    width: 16px;
    border-right: 0;
    background: url(../images/menu.svg) no-repeat;
    background-size: contain;
  }
  .l-body {
    padding-top: 30px;
  }
  .l-body .p-mainImage__txt h1 {
    font-size: 2rem;
  }
  .l-body .main-visual-img {
    width: 100%;
    height: 230px !important;
    object-fit: cover;
  }
  .l-body .carousel-indicators .active {
    background-color: #bb8e24;
  }
  .l-footer__container {
    background-color: #000;
  }
  .l-footer__container .sns-wrap {
    position: relative;
    height: 19px;
  }
  .l-footer__container .sns-wrap::before {
    content: "";
    display: block;
    width: 92px;
    height: 1px;
    background-color: #c49525;
    position: absolute;
    bottom: 0;
    right: 8px;
  }
  .l-footer__container .sns-wrap::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 18px;
    background-color: #c49525;
    position: absolute;
    top: 0;
    right: 8px;
  }
  .l-footer__container .icon {
    color: #fff;
    font-size: 8px;
  }
  .l-footer__container img {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 1px;
    height: 10px;
  }
  .l-footer__container .sns-text {
    margin-left: 8px;
    display: inline-block;
    color: #c1c1c1;
  }
}
.is-hover:hover {
  opacity: 0.5;
}
.current-category {
  text-decoration: none;
  pointer-events: none;
  opacity: 0.5;
}
.top {
  padding-bottom: 0;
}
.top .p-mainImage__txt {
  visibility: hidden;
}
.top .swiper-container {
  width: 100%;
  height: calc(100vh - 80px - 8rem - 65px);
}
.top .p-mainImage {
  position: relative;
  text-align: center;
  margin-bottom: 0;
}
.top .c-title02 {
  font-size: 3.6rem;
  margin-bottom: 0px;
}
.top .c-title03 {
  font-size: 2.8rem;
  padding-bottom: 1rem;
}
.top .c-title04 {
  font-weight: bold;
}
.top .pt-8rem {
  padding-top: 8rem;
}
.top .pb-6rem {
  padding-bottom: 6rem;
}
.top .blog .blog-card-img {
  height: 220px;
  width: 100%;
  object-fit: cover;
}
.top .blog .category {
  border: 2px solid #d8d8d8;
  border-radius: 18px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 3px;
  font-size: 70% !important;
  display: inline-block;
  color: #000;
}
.top .blog .title {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
}
.top .blog .title a {
  color: #000;
}
.top .blog .blod-text, .top .blog .blod-date {
  font-size: 80% !important;
}
.top .card-hidden {
  visibility: hidden;
}
.top .sbi_load_btn {
  line-height: 48px !important;
  font-size: 80% !important;
}
.top .sbi_follow_btn {
  height: 62px;
  line-height: 62px;
}
.top .sbi_follow_btn .svg-inline--fa {
  display: none !important;
}
.top .sbi_follow_btn a {
  display: inline-block !important;
  vertical-align: middle !important;
  font-weight: bold;
  font-size: 100% !important;
}
.top .sbi_follow_btn a:hover {
  text-decoration: underline !important;
}
.top .sbi_follow_btn a::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 42px;
  background: url(../images/icons-Instagram.svg) no-repeat !important;
  background-size: contain;
  vertical-align: middle;
}
.top .wrap-recommend {
  margin: 0;
}
.top .wrap-recommend .recommend-item {
  display: table-cell;
  font-weight: bold;
  padding-left: 20px;
  width: 326px;
}
.top .wrap-recommend .recommend-description {
  display: table-cell;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.top .sp-recommend-item {
  padding: 12px;
}
.top .sp-recommend-item .recommend-title {
  font-weight: bold;
  margin-bottom: 6px;
}
@media screen and (max-width: 768px) {
  .top .c-title02 {
    font-size: 1.8rem !important;
  }
  .top .c-title03 {
    font-size: 1.6rem !important;
  }
  .top .blog-card-deck {
    flex-direction: row;
    justify-content: space-between;
  }
  .top .blog-card-deck .blog {
    width: 100%;
    border-color: #e3e3e3;
  }
  .top .blog-card-deck .blog .blog-card-img {
    height: 60px;
  }
  .top .blog-card-deck .blog .sp-card-body {
    background-color: #e3e3e3;
    padding-left: 0;
    padding-right: 0;
    padding-top: 6px;
    padding-bottom: 0;
  }
  .top .blog-card-deck .blog .sp-card-footer {
    padding-top: 4px;
    padding-left: 0;
    padding-right: 0;
    border: none;
    background-color: #e3e3e3;
  }
  .top .blog-card-deck .blog .title {
    font-size: 1rem;
    font-weight: normal;
    padding-top: 0;
    padding-bottom: 0;
  }
  .top .blog-card-deck .sp-blog-center-item {
    margin-left: 5px;
    margin-right: 5px;
  }
  .top .sp-blog-more-btn {
    margin-bottom: 0;
  }
  .top #sb_instagram.sbi_col_3.sbi_disable_mobile #sbi_images .sbi_item {
    width: 50%;
  }
  .top .sbi_load_btn {
    line-height: 32px !important;
  }
  .top .sbi_follow_btn {
    height: 48px;
    line-height: 48px;
  }
  .top .sbi_follow_btn a::before {
    content: '';
    display: inline-block;
    width: 42px;
    height: 26px;
    background: url(../images/icons-Instagram-sp.svg) no-repeat !important;
    background-size: contain;
    vertical-align: middle;
  }
}
.l-header__btns .l-header__btns__registration {
  width: 120px;
}
.l-header__btns .last {
  margin-right: 28px;
}
.l-header__btns .l-header__btns__registration.disabled {
  color: #878787;
  pointer-events: none;
}
.l-globalNavi__wrap .l-globalNavi__links {
  margin-top: 0;
}
.l-globalNavi__wrap .l-globalNavi__links li {
  position: relative;
}
.l-globalNavi__wrap .l-globalNavi__links li .icon-next {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.l-globalNavi__category__aboutus {
  height: 60px;
  line-height: 60px;
  padding: 0 20px 0 50px;
  border-bottom: 1px solid #444;
  background: url(../images/icons-Info.svg) 20px center no-repeat;
  background-size: 20px;
}
.l-globalNavi__category__aboutus a {
  display: inline-block;
  color: #fff;
  padding: 0;
  margin: -50px;
  padding-left: 50px;
  width: 400px;
}
.l-globalNavi__category__news {
  height: 60px;
  line-height: 60px;
  padding: 0 20px 0 50px;
  border-bottom: 1px solid #444;
  background: url(../images/icons-News.svg) 20px center no-repeat;
  background-size: 20px;
}
.l-globalNavi__category__news a {
  display: inline-block;
  color: #fff;
  padding: 0;
  margin: -50px;
  padding-left: 50px;
  width: 400px;
}
.l-globalNavi__category__blog {
  height: 60px;
  line-height: 60px;
  padding: 0 20px 0 50px;
  border-bottom: 1px solid #444;
  background: url(../images/icons-Blog.svg) 20px center no-repeat;
  background-size: 20px;
}
.l-globalNavi__category__blog a {
  display: inline-block;
  color: #fff;
  padding: 0;
  margin: -50px;
  padding-left: 50px;
  width: 400px;
}
.l-globalNavi__category__profile {
  height: 60px;
  line-height: 60px;
  padding: 0 20px 0 50px;
  border-bottom: 1px solid #444;
  background: url(../images/icons-Profile.svg) 20px center no-repeat;
  background-size: 20px;
}
.l-globalNavi__category__profile a {
  display: inline-block;
  color: #fff;
  padding: 0;
  margin: -50px;
  padding-left: 50px;
  width: 400px;
}
.l-globalNavi__category__contact {
  height: 60px;
  line-height: 60px;
  padding: 0 20px 0 50px;
  border-bottom: 1px solid #444;
  background: url(../images/icons-Contact.svg) 20px center no-repeat;
  background-size: 20px;
}
.l-globalNavi__category__contact a {
  display: inline-block;
  color: #fff;
  padding: 0;
  margin: -50px;
  padding-left: 50px;
  width: 400px;
}
.fluid-table {
  width: 100%;
  table-layout: fixed;
}
.fluid-table th {
  padding-top: 14px;
  padding-bottom: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 0;
  vertical-align: middle;
}
.fluid-table th a {
  font-size: 18px;
  color: #27b291;
}
.sp-notice .fluid-table th {
  padding-top: 14px;
  padding-bottom: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 0;
  vertical-align: middle;
}
.notice {
  background-color: #fff;
}
.notice .title {
  font-weight: bold;
  font-size: 18px;
  height: 34px;
  padding-left: 56px;
  background: url(../images/notice-icon.png) 24px center no-repeat;
  background-size: 24px;
  display: inline-block;
}
.notice .sp-title {
  font-weight: bold;
  font-size: 14px;
  height: 22px;
  padding-left: 32px;
  background: url(../images/notice-icon.png) 14px center no-repeat;
  background-size: 14px;
  display: inline-block;
}
.notice .more {
  text-align: right;
  height: 37px;
  width: 100%;
  display: inline-block;
  padding-right: 30px;
  position: relative;
}
.notice .more a {
  position: relative;
  top: -3px;
  display: inline-block;
  height: 100%;
  font-size: 10px;
  color: #27b291;
}
.notice .more::before {
  content: '';
  width: 6px;
  height: 6px;
  border: 0px;
  border-top: solid 1px #000;
  border-right: solid 1px #000;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 16px;
  margin-top: -3px;
}
.notice .sp-content {
  width: 100%;
  vertical-align: middle;
  display: inline-block;
  position: relative;
}
.notice .sp-content a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 90%;
  font-size: 14px;
  vertical-align: middle;
  color: #27b291;
}
.notice .sp-content::after {
  content: '';
  width: 6px;
  height: 6px;
  border: 0px;
  border-top: solid 1px #000;
  border-right: solid 1px #000;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 18px;
  margin-top: -3px;
}
.sp-notice {
  display: none;
}
.pc-notice {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: none;
}
.aboutus-btn, .blog-more-btn {
  background-color: #27b291;
  border: none;
  width: 30rem;
  font-size: 1.8em;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  margin-top: 2em;
  margin-bottom: 2em;
}
.sp-aboutus-btn, .sp-blog-more-btn {
  background-color: #27b291;
  border: none;
  font-size: 1.8em;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  margin-top: 1em;
  margin-bottom: 3em;
}
.technology-area, .products-area {
  padding-top: 3em;
  padding-bottom: 3em;
}
.l-l {
  border: none;
  position: relative;
}
.l-l .card-body {
  font-weight: bold;
  padding-top: 0;
}
.l-l .card-body::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -0.1rem;
  width: 0.4rem;
  height: 60%;
  background-color: #27b291;
}
.bg-g {
  background-color: #e3e3e3;
}
.recommendation-title {
  margin-top: 5em !important;
  padding-bottom: 3rem !important;
  font-size: 2.8rem !important;
}
.catchphrase-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.catchphrase-area .catchphrase__image {
  width: 100%;
}
.catchphrase-area .catchphrase__image img {
  -o-object-fit: cover;
  object-fit: cover;
  font-family: cover;
  width: 100%;
  height: auto;
}
.catchphrase-area .catchphrase__title {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  margin: 30px 0;
}
.catchphrase-area .catchphrase__logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin: 0 30px;
  max-width: 600px;
}
.catchphrase-area .catchphrase__logos figure {
  margin: 0;
}
.catchphrase-area .catchphrase__logos figure img {
  height: 24px;
  width: 100%;
  vertical-align: middle;
}
.catchphrase-area .catchphrase__logos figure figcaption {
  margin: 1rem 0;
  font-size: 1rem;
  color: #656565;
  text-align: center;
}
.aboutus .wrap-photo {
  width: 100%;
  padding-top: 3em;
  padding-bottom: 3em;
}
.aboutus .wrap-photo .photo {
  width: 100%;
  height: auto;
}
.profile .c-title01, .specific-trade-law .c-title01, .thanks .c-title01, .error-404 .c-title01 {
  line-height: 1.8;
}
.profile p, .specific-trade-law p, .thanks p, .error-404 p {
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .profile .c-title01, .specific-trade-law .c-title01, .thanks .c-title01, .error-404 .c-title01 {
    line-height: 1.8;
  }
  .profile p, .specific-trade-law p, .thanks p, .error-404 p {
    margin-bottom: 30px;
  }
}
.profile .l-container01 p:last-child, .specific-trade-law .l-container01 p:last-child, .thanks .l-container01 p:last-child, .error-404 .l-container01 p:last-child {
  margin-bottom: 0;
}
.error-404 {
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .error-404 .c-sub__contents {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.c-blog__detail__title {
  font-size: 4rem;
  font-weight: bold;
  padding-bottom: 50px;
  margin-bottom: 60px;
  border-bottom: 1px solid #979797;
}
@media screen and (max-width: 768px) {
  .c-blog__detail__title {
    font-size: 2.2rem;
    font-weight: bold;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
}
.single-blog .c-news__detail__list {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.single-blog .c-news__detail__list {
  margin-bottom: 0;
}
.single-blog .c-news__detail__list .category {
  margin-bottom: 0;
}
.single-blog .c-blog__detail__title {
  margin-top: 30px;
}
.single-blog .content-wrap {
  text-align: right;
}
.single-blog .c-title01 {
  line-height: 3rem;
}
.single-blog .c-title01 .title-ja {
  font-size: 50%;
}
.single-blog .blog-wrap {
  vertical-align: top;
  display: inline-block;
  width: 70%;
  text-align: left;
  padding-right: 40px;
}
.single-blog .sidebar {
  text-align: left;
  margin-left: auto;
  margin-right: 0px;
  display: inline-block;
  width: 28%;
}
.single-blog .sidebar .new-post {
  font-weight: bold;
  border-bottom: solid 1px #000;
  padding-bottom: 10px;
  margin-bottom: 18px;
}
.single-blog .sidebar .links {
  padding-left: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: solid 1px #979797;
  border-bottom: solid 1px #979797;
  width: 100%;
  font-size: 80%;
  line-height: 44px;
}
.single-blog .sidebar .title {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
}
.single-blog .sidebar .blod-text, .single-blog .sidebar .blod-date {
  font-size: 80% !important;
}
.single-blog .sidebar .category-list {
  margin-top: 54px;
  font-weight: bold;
}
.single-blog .sidebar a {
  color: #000;
}
.single-blog .c-news__label {
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 4px !important;
}
.single-blog .c-news__date {
  width: 160px;
}
.single-blog .c-news__detail__list li + li {
  margin-left: 2px;
}
.single-blog .category {
  border: 2px solid #d8d8d8;
  border-radius: 18px;
  margin-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 70% !important;
  background-color: #f1f1f1 !important;
}
.single-blog .category a {
  color: #000;
}
.single-blog .side-category {
  border: 2px solid #d8d8d8;
  border-radius: 18px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 3px;
  font-size: 70% !important;
  display: inline-block;
}
.single-blog .c-pager {
  margin-top: 8rem;
}
@media screen and (max-width: 768px) {
  .single-blog .c-title01 {
    line-height: 1.8;
  }
  .single-blog .c-news__label {
    width: auto;
    height: auto;
    line-height: 26px;
    margin-bottom: 10px;
    word-wrap: break-word;
    line-height: 1.6;
  }
  .single-blog .c-news__date {
    width: 120px;
    margin: 5px 0 0 0;
  }
  .single-blog .blog-wrap {
    vertical-align: top;
    display: block;
    width: 100%;
    text-align: left;
    padding-right: 0;
  }
  .single-blog .new-post {
    border-bottom: solid 1px #979797;
    padding-bottom: 10px;
    margin-top: 18px;
    font-weight: bold;
    font-size: 1.8rem;
  }
  .single-blog .sp-blog-wrap {
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: dashed 1px #979797;
  }
  .single-blog .sp-blog-wrap .blog-img {
    height: 60px;
    width: 100%;
    object-fit: cover;
  }
  .single-blog .sp-blog-wrap .title {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  .single-blog .sp-blog-wrap .blog-text {
    top: 24px;
    left: 102px;
  }
  .single-blog .sp-blog-wrap .blod-date, .single-blog .sp-blog-wrap .side-category {
    font-size: 0.6rem !important;
    display: inline-block;
  }
  .single-blog .c-blog__detail__title {
    margin-top: 6px;
  }
  .single-blog .category-list {
    border-bottom: solid 1px #979797;
    padding-bottom: 8px;
    margin-top: 32px;
    font-weight: bold;
    font-size: 1.8rem;
  }
  .single-blog .links {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    border-bottom: solid 1px #979797;
    line-height: 38px;
    font-weight: bold;
  }
  .single-blog .links li {
    font-size: 110%;
  }
  .single-blog .content-wrap {
    text-align: left;
  }
  .single-blog .content-wrap a {
    color: #000;
  }
  .single-blog .c-pager {
    margin-top: 5rem;
  }
}
.blog-index .card-hidden {
  visibility: hidden;
}
.blog-index .c-title01 {
  line-height: 3rem;
}
.blog-index .c-title01 .title-ja {
  font-size: 50%;
}
.blog-index .cp_breadcrumb *, .blog-index .cp_breadcrumb *:after, .blog-index .cp_breadcrumb *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.blog-index .cp_breadcrumb {
  margin: 1em auto;
}
.blog-index .cp_breadcrumb .breadcrumbs {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.blog-index .cp_breadcrumb li {
  display: inline-block;
  position: relative;
  padding-right: calc(16px + 8px);
  margin-right: 14px;
  font-size: 16px;
}
.blog-index .cp_breadcrumb li::before {
  content: '>';
  width: 1em;
  height: 1em;
  line-height: 1;
  text-align: center;
  font-size: 0.6em;
  color: inherit;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.blog-index .cp_breadcrumb li:last-child {
  margin-right: 0;
  padding-right: 0;
}
.blog-index .cp_breadcrumb li:last-child a {
  text-decoration: none;
  pointer-events: none;
  color: #000 !important;
}
.blog-index .cp_breadcrumb li:last-child::before {
  content: normal;
}
.blog-index .category {
  border: 2px solid #d8d8d8;
  border-radius: 18px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 3px;
  font-size: 70% !important;
  display: inline-block;
  color: #000;
}
.blog-index .title {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
}
.blog-index .title a {
  color: #000;
}
.blog-index .blod-text, .blog-index .blod-date {
  font-size: 80% !important;
}
.blog-index .wp-pagenavi {
  padding-top: 48px;
  text-align: center;
  height: 48px;
}
.blog-index .wp-pagenavi .previouspostslink, .blog-index .wp-pagenavi .nextpostslink {
  margin-left: 12px;
  margin-right: 12px;
  height: 48px;
  width: 48px;
  text-decoration: none;
  color: #27b291;
  display: inline-block;
}
.blog-index .wp-pagenavi .disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: #707070;
}
.blog-index .wp-pagenavi .page, .blog-index .wp-pagenavi .current {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  margin-right: 12px;
  margin-left: 12px;
  background: #707070;
  border-radius: 24px;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  vertical-align: middle;
}
.blog-index .wp-pagenavi .page {
  background-color: #27b291;
}
.blog-index .wp-pagenavi .ico_arrow {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
}
.blog-index .blog-wrap {
  display: flex;
}
.blog-index .blog-wrap .blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
}
.blog-index .blog-wrap .blog-categories {
  display: flex;
  width: 30%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: self-start;
  padding-left: 60px;
}
.blog-index .blog-wrap .blog-categories .title {
  width: 100%;
  padding-bottom: 24px;
}
.blog-index .blog-wrap .blog-categories .links {
  padding-left: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: solid 1px #979797;
  border-bottom: solid 1px #979797;
  width: 100%;
  font-size: 80%;
  line-height: 44px;
}
.blog-index .blog-wrap .blog-categories .links a {
  color: #000;
}
@media screen and (max-width: 768px) {
  .blog-index .c-title01 {
    line-height: 1.8;
  }
  .blog-index .title {
    font-size: 1.4rem !important;
  }
  .blog-index .blod-text, .blog-index .blod-date {
    font-size: 100% !important;
  }
  .blog-index .page, .blog-index .current {
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    font-size: 1.4rem !important;
  }
  .blog-index .previouspostslink, .blog-index .nextpostslink {
    width: 30px !important;
    height: 30px !important;
  }
  .blog-index .ico_arrow {
    height: 16px !important;
  }
  .blog-index .sp-category {
    margin-top: 80px;
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 6px;
  }
  .blog-index .links {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    border-top: solid 1px #979797;
    border-bottom: solid 1px #979797;
    line-height: 38px;
    font-weight: bold;
  }
  .blog-index .links li {
    font-size: 110%;
  }
  .blog-index .links a {
    color: #000;
  }
}
.news-index .c-title01 {
  line-height: 1.8;
}
.news-index .c-news__date {
  width: 160px;
}
.news-index .c-news__label {
  padding-left: 20px;
  padding-right: 20px;
  width: 180px;
}
.news-index .wp-pagenavi {
  text-align: center;
  height: 48px;
}
.news-index .wp-pagenavi .previouspostslink, .news-index .wp-pagenavi .nextpostslink {
  margin-left: 12px;
  margin-right: 12px;
  height: 48px;
  width: 48px;
  text-decoration: none;
  color: #27b291;
  display: inline-block;
}
.news-index .wp-pagenavi .disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: #707070;
}
.news-index .wp-pagenavi .page, .news-index .wp-pagenavi .current {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  margin-right: 12px;
  margin-left: 12px;
  background: #707070;
  border-radius: 24px;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  vertical-align: middle;
}
.news-index .wp-pagenavi .page {
  background-color: #27b291;
}
.news-index .wp-pagenavi .ico_arrow {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
}
@media screen and (max-width: 768px) {
  .news-index .c-title01 {
    line-height: 1.8;
  }
  .news-index .c-news__date {
    width: 120px;
  }
  .news-index .c-news__label {
    width: 140px !important;
    height: auto !important;
    line-height: normal !important;
    margin-bottom: 10px !important;
    line-height: 26px !important;
  }
  .news-index .page, .news-index .current {
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    font-size: 1.4rem !important;
  }
  .news-index .previouspostslink, .news-index .nextpostslink {
    width: 30px !important;
    height: 30px !important;
  }
  .news-index .ico_arrow {
    height: 16px !important;
  }
}
.privacy-policy .c-title01 {
  line-height: 1.8;
}
.privacy-policy h2 {
  line-height: 1.8;
  font-weight: bold;
  font-size: 2.4rem;
  margin-bottom: 20px;
  margin-top: 60px;
}
.privacy-policy ul {
  margin-left: 1em;
  text-indent: -1em;
}
@media screen and (max-width: 768px) {
  .privacy-policy .c-title01 {
    font-size: 1.6rem;
    margin-bottom: 30px;
  }
  .privacy-policy h2 {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
}
.news .c-title01 {
  line-height: 1.8;
}
.news .c-news__detail__title {
  line-height: 1.8;
}
.news .c-news__date {
  width: 160px;
}
.news .c-news__label {
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.news .c-pager__return a:hover {
  color: #27b291;
}
@media screen and (max-width: 768px) {
  .news .c-title01 {
    font-size: 1.6rem;
    margin-bottom: 30px;
  }
  .news .c-news__detail__title {
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  .news .c-news__date {
    width: 120px;
    margin: 5px 0 0 0;
  }
  .news .c-news__label {
    width: 120px;
    height: auto;
    line-height: 26px;
    margin-bottom: 10px;
  }
}
.contact.l-body {
  padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .contact.l-body {
    padding-bottom: 1px !important;
  }
}
.contact .c-title01 {
  line-height: 1.8;
}
.contact .p-contact__form label {
  width: 100%;
}
.contact .p-contact__form label .input-wrap {
  display: inline-block;
  width: 100%;
  margin-bottom: 40px;
}
.contact .p-contact__form label .input-wrap input {
  width: 100%;
}
.contact .p-contact__form .wrap-acceptance .g-recaptcha {
  margin-top: 40px;
  margin-bottom: 140px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .p-contact__form .wrap-acceptance .wpcf7-form-control-wrap {
  width: 100%;
  display: inline-block;
}
.contact .p-contact__form .wrap-acceptance .wpcf7-form-control-wrap .wpcf7-form-control {
  width: 100%;
  display: inline-block;
}
.contact .p-contact__form .wrap-acceptance .wpcf7-form-control-wrap .wpcf7-form-control .wpcf7-list-item {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 0;
  font-size: 20px;
  margin-bottom: 30px;
}
.contact .p-contact__form .wrap-acceptance .wrap-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact .p-contact__form .wrap-acceptance .wrap-submit .wpcf7-submit {
  color: #fff;
  background-color: #27b291;
  border: none;
  width: 240px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-left: 16px;
  border-radius: 30px;
  font-size: 20px;
}
.contact .p-contact__form .wrap-acceptance .wrap-submit .wpcf7-submit[disabled] {
  background-color: #959595;
}
.contact .p-contact__form .screen-reader-response {
  display: none;
}
.contact .p-contact__form .wpcf7-not-valid {
  border: solid 1px #f00;
}
.contact .p-contact__form .red {
  color: #f00;
  padding-left: 15px;
}
.contact .p-contact__form .wpcf7-not-valid-tip {
  display: none;
}
.contact .p-contact__check {
  position: relative;
  top: -120px;
}
.contact .wpcf7-response-output {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .contact .c-title01 {
    line-height: 1.8;
  }
  .contact .g-recaptcha {
    margin-top: 10px !important;
    margin-bottom: 100px !important;
  }
  .contact .wpcf7-submit {
    width: 70% !important;
    height: 50px !important;
    line-height: 50px !important;
    font-size: 2rem !important;
  }
  .contact .p-contact__check {
    top: -100px !important;
  }
}
footer a:hover {
  color: #27b291;
}
