@media screen and (max-width: 768px) {
  .l-globalNavi__wrap {
    top: 30px;
  }
  .l-header {
    height: 30px;
    .l-header__container {
      height: 30px;
      font-size: 1px;
      .l-header__logo {
        img {
          height: 26px;
          width: auto;
        }
      }
      .tell {
        height: 100%;
        background-color: #070506;
        a {
          height: 100%;
          display: flex;
          justify-content: center;
          img {
            height: auto;
            width: 60px;
          }
        }
      }
      .inquiry-about-moving {
        img {
          height: 30px;
          width: auto;
        }
      }
      .l-menuToggle-wrap {
        height: 100%;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        .l-menuToggle {
          height: 16px;
          width: 16px;
          border-right: 0;
          background: url(../images/menu.svg) no-repeat;
          background-size: contain;
        }
      }
    }
  }

  .l-body {
    padding-top: 30px;

    .p-mainImage__txt h1 {
      font-size: 2rem;
    }

    .main-visual-img {
      width: 100%;
      height: 230px !important;
      object-fit: cover;
    }

    .carousel-indicators .active {
      background-color: #BB8E24;
    }
  }
}
.l-footer {
  a {
    color: #C1C1C1;
    font-size: 1rem;
  }

  .sns-area {
    background-color: #000;
  }

  .company-info-area {
    .icon {
      height: 28px;
      width: 28px;
      object-fit: contain;
    }

    .company-info-text {
      margin-top: 4px;
    }
  }

  .l-footer__container {
    padding-bottom: 20px;
    .sns-wrap {
      position:relative;
      height: 19px;
    }

    .sns-wrap::before{
      content: "";
      display: block;
      width: 92px;
      height: 1px;
      background-color: #C49525;
      position:absolute;
      bottom: 0;
      right: 8px;
    }

    .sns-wrap::after{
      content: "";
      display: inline-block;
      width: 1px;
      height: 18px;
      background-color: #C49525;
      position: absolute;
      top: 0;
      right: 8px;
    }

    .icon {
      color: #FFF;
      font-size: 8px;
    }

    img {
      display: inline-block;
      vertical-align: middle;
      padding-bottom: 1px;
      height: 10px;
    }

    .sns-text {
      margin-left: 8px;
      display: inline-block;
      color: #C1C1C1;
    }
  }
}

.is-hover:hover {
  opacity: 0.5 ;
}
