.c-container {
  padding-left: 0;
  padding-right: 0;
}

h2 {
  font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
  .l-globalNavi__wrap {
    top: 50px;
  }
  .l-header {
    height: 50px;
    .l-header__container {
      height: 50px;
      font-size: 1px;
      .l-header__logo {
        img {
          height: 20px;
          width: auto;
        }
      }
      .tell {
        height: 100%;
        width: 80px;
        background-color: #000;
        a {
          height: 100%;
          display: flex;
          justify-content: center;
          img {
            height: 100%;
            width: 72px;
          }
        }
      }
      .inquiry-about-moving {
        height: 100%;
        background-color: #c1c1c1;
        position: relative;
        img {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          height: 36px;
          width: auto;
        }
      }
      .l-menuToggle-wrap {
        height: 100%;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        .l-menuToggle {
          height: 16px;
          width: 16px;
          border-right: 0;
          background: url(../images/menu.svg) no-repeat;
          background-size: contain;
        }
      }

      .l-globalNavi__category {
        border-bottom: 1px solid #444;

        img {
          margin-right: 24px;
        }
      }
    }
  }
}

.top {
  background-color: #fff;
  font-size: 1rem;

  h2 {
    margin-bottom: 14px;
    position: relative;
  }

  @media screen and (max-width: 768px) {
    padding-top: 50px;
  }

  .more-btn {
    position: relative;
    color: #FFFFFF;
    width: 158px;
    border-radius: 0;
    background-color: #BB8E24;
    border-style: none;
  }

  .more-btn::before {
    content: '>';
    width: 1rem;
    height: 1rem;
    line-height: 15px;
    text-align: center;
    font-size: 1rem;
    color: inherit;
    position: absolute;
    top: 38%;
    right: 6px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .l-body {
    .p-mainImage__txt h1 {
      font-size: 2rem;
    }

    .main-visual-img {
      width: 100%;
      height: 230px !important;
      object-fit: cover;
    }

    .carousel-indicators .active {
      background-color: #BB8E24;
    }
  }

  .black-box {
    padding-left: 2%;
    padding-bottom: 2%;
    .content {
      height: 60px;
      background-color: #000;
    }
  }

  .company-philosophy {
    margin-bottom: 10px;

    h2::before{
      content: "";
      display: block;
      width: 76px;
      height: 3px;
      background-color: #C49525;
      position: absolute;
      bottom: -4px;
      left: 0;
    }

    .wrap-more-btn {
      padding-top: 18px;
    }

    .recurit-img {
      height: 148px;
      object-fit: cover;
      position: relative;
      z-index: 5;
      top: -40px;
    }
  }

  .about-moving {
    h2::before{
      content: "";
      display: block;
      width: 126px;
      height: 3px;
      background-color: #C49525;
      position: absolute;
      bottom: -4px;
      left: 0;
    }

    .inquiry-btn {
      position: relative;
      z-index: 5;
      width: 280px;
      height: 100px;
      top: 50px;
      color: #BB8E24;
      background-color: #FFF;
      border-color: #BB8E24;
      position: relative;
      border-radius: 0;

      .inquiry-img {
        display: inline-block;
        height: 60px;
        position: relative;
        top: 50%;
        right: 18px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      .text {
        color: #070506;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        display: inline-block;
      }
    }

    .inquiry-btn::before {
      content: '>';
      width: 1rem;
      height: 1rem;
      line-height: 15px;
      text-align: center;
      font-size: 1rem;
      color: inherit;
      position: absolute;
      top: 47%;
      right: 18px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  .recurit-info-area {
    margin-top: 42px;

    h2 {
      margin-bottom: 14px;
      position: relative;
    }

    h2::before{
      content: "";
      display: block;
      width: 90px;
      height: 3px;
      background-color: #C49525;
      position: absolute;
      bottom: -4px;
      left: 0;
    }

    .inquiry-btn {
      position: relative;
      color: #FFFFFF;
      width: 100%;
      border-radius: 0;
      background-color: #BB8E24;
      border-style: none;
      width: 158px;
    }

    .inquiry-btn {
      color: #BB8E24;
      background-color: #FFF;
      border-style: solid;
      border-color: #BB8E24;
    }

    .recurit-img {
      width: 100%;
      height: auto;
    }

    .inquiry-btn::before {
      content: '>';
      width: 1rem;
      height: 1rem;
      line-height: 15px;
      text-align: center;
      font-size: 1rem;
      color: inherit;
      position: absolute;
      top: 38%;
      right: 3px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .more-btn::before {
      content: '>';
      width: 1rem;
      height: 1rem;
      line-height: 15px;
      text-align: center;
      font-size: 1rem;
      color: inherit;
      position: absolute;
      top: 38%;
      right: 6px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}

.philosophy {
  h1 {
    font-size: 1.8rem;
  }

  .content {
    .text {
      display: inline-block;
    }

    .image {
      display: inline-block;
      position: relative;
      right: 15px;
      top: 5px;
      width: 40%;
      height: 40px;
      background: url(../images/design-01.svg) no-repeat;
      background-size: contain;
    }
  }

  @media screen and (max-width: 768px) {
    padding-top: 30px;

    .bg-img-1 {
      position: relative;
      height: 200px;
      background: url(../images/bg-1.svg) no-repeat;
      background-size: cover;

      .title {
        width: 120px;
        position: relative;
        z-index: 5;
        color: #FFF;
        left: 30px;
        top: 80px;
      }

      .content {
        width: 80%;
        .pb-15p {
          padding-bottom: 15px;
        }
        .content-title {
          font-size: 12px !important;
          font-weight: bold;
          padding-bottom: 15px;
        }

        .text {
          width: 56%;
        }

        position: relative;
        z-index: 5;
        color: #000;
        left: 0px;
        top: 100px;
        font-size: 10px !important;
        padding-left: 30px;
        padding-top: 15px;
        background-color: #FFF;
      }
    }

    .bg-img-2 {
      position: relative;
      height: 200px;
      background: url(../images/bg-2.svg) no-repeat;
      background-size: cover;
    }
  }
}

.company {
  h1 {
    font-size: 1.8rem;
  }

  .content {
    .text {
      display: inline-block;
    }

    .image {
      display: inline-block;
      position: relative;
      right: 15px;
      top: 5px;
      width: 40%;
      height: 40px;
      background: url(../images/design-01.svg) no-repeat;
      background-size: contain;
    }
  }

  @media screen and (max-width: 768px) {
    padding-top: 30px;

    .bg-img {
      position: relative;
      height: 200px;
      background: url(../images/bg-3.svg) no-repeat;
      background-size: cover;

      .title {
        width: 220px;
        position: relative;
        z-index: 5;
        color: #FFF;
        left: 30px;
        top: 80px;
      }
    }

    .table {
      margin-top: 32px;
      margin-bottom: 32px;

      th {
        vertical-align: middle;
      }
    }

    .bg-img2 {
      position: relative;
      height: 200px;
      background: url(../images/bg-4.svg) no-repeat;
      background-size: cover;
    }
  }
}

.recruit {
  background-color: #FFF;
  padding-bottom: 0px;
  h1 {
    font-size: 1.8rem;
  }

  .content {
    margin-bottom: 68px;

    .content-title {
      width: 90%;
      margin-bottom: 23px;
    }

    .content-title::after{
      content: "";
      display: block;
      width: 32px;
      height: 3px;
      background-color: #C49525;
      position: absolute;
      margin-top: 10px;
    }

    .img-area {
      position: relative;
      background-color: #000;
      height: 100%;
      width: auto;
      margin-left: 20px;
      img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        left: -20px;
      }
    }

    .img-area-2{
      background-color: #000;
      height: 100%;
      width: auto;
      margin-right: 20px;

      img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        right: -20px;
      }
    }
  }

  .last-content {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  @media screen and (max-width: 768px) {
    .bg-img {
      position: relative;
      height: 200px;
      background: url(../images/bg-5.svg) no-repeat;
      background-size: cover;

      .title {
        width: 220px;
        position: relative;
        z-index: 5;
        color: #FFF;
        left: 30px;
        top: 80px;
      }
    }
  }
}

.l-footer {
  a {
    color: #C1C1C1;
    font-size: 1rem;
  }

  .sns-area {
    background-color: #000;
  }

  .company-info-area {
    .icon {
      height: 28px;
      width: 28px;
      object-fit: contain;
    }

    .company-info-text {
      margin-top: 4px;
    }
  }

  .l-footer__container {
    padding-bottom: 20px;
    .sns-wrap {
      position:relative;
      height: 19px;
    }

    .sns-wrap::before{
      content: "";
      display: block;
      width: 74px;
      height: 1px;
      background-color: #C49525;
      position:absolute;
      bottom: 0;
      right: 30px;
    }

    .sns-wrap::after{
      content: "";
      display: inline-block;
      width: 1px;
      height: 14px;
      background-color: #C49525;
      position: absolute;
      top: 4px;
      right: 30px;
    }

    .icon {
      color: #FFF;
      font-size: 8px;
    }

    img {
      display: inline-block;
      vertical-align: middle;
      padding-bottom: 1px;
      height: 10px;
    }

    .sns-text {
      margin-left: 8px;
      display: inline-block;
      color: #C1C1C1;
    }
  }

  .l-footer__copyright {
    padding-top: 10px;
  }
}

.is-hover:hover {
  opacity: 0.5 ;
}
